appdirs==1.4.3
beautifulsoup4==4.7.1
bs4==0.0.1
distlib==0.3.3
geojson==2.4.1
nltk==3.4.5
numpy==1.16.4
playsound==1.2.2
psutil==5.6.6
pyowm==2.10.0
pyttsx3==2.71
requests==2.21.0
SpeechRecognition==3.8.1
speedtest-cli==2.1.1
urllib3==1.24.3
wikipedia==1.4.0
wolframalpha==3.0.1

